<%= render 'shared/header' %>

<div class="container">
    <div class="login">
        <h1> Checklist </h1> <br><br>

        <form class="form-horizontal" action="/articles/create" method="post">
            <% @questionaire.each do |question| %>
                <div class="form-group">
                <label class="col-md-8 control-label"><%= question[:question] %></label>
                <div class="col-md-4">
                    <div id="line1" class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default"><input type="radio" name="<%= question[:id] %>" value="1">Yes</label>
                        <label class="btn btn-default"><input type="radio" name="<%= question[:id] %>" value="2">I don't know</label>
                        <label class="btn btn-default"><input type="radio" name="<%= question[:id] %>" value="3">No</label>
                    </div>
                </div>
            </div>
        <% end %>
        <button type="submit" class="btn btn-primary">Magic Happens!</button>
        </form>
    </div>
</div>

<%= render 'shared/footer' %>
